/*source for animation: https://jarv.is/notes/css-waving-hand-emoji/
*/
    span.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }
  100% { transform: rotate(  0.0deg) }
}


h1, p, h2{
  text-align: center;
  font-family: ministry, sans-serif;
  font-style: normal;
  font-weight: 100;
}

h1 {
  font-size: 50px;
}

input {
  font-size: 20px;
  text-align: center;
  font-family: ministry, sans-serif;
}

button {
  padding: 0.5em 0.9em;
  font-size: 20px;
  background: #0e3ac9;
  color: #f9f9f9;
  border-radius: 1.1em;
  font-family: ministry, sans-serif;
}
